.qv-object-EProject-Zapper .errMsg {
    display: flex;
    height: 100%;
}

.qv-object-EProject-Zapper .errMsg-inner{
    color: red;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

/* Fix for qv-objects spilling outside margins */
.qv-object-EProject-Zapper .preview-container .qv-object-wrapper{
    height: calc(100% - 4px);
}

.qv-object-EProject-Zapper .outer-container{
    position: relative;
    height: 100%;
    display: flex;    
}

.qv-object-EProject-Zapper .main-container{
    position: relative;
    padding: 4px;
}

.qv-object-EProject-Zapper .preview-container{
    display: flex;
}

.qv-object-EProject-Zapper .preview-square{
    position: relative;
    flex: 1 1 0;
    padding: 4px;
    display: flex;
    flex-direction: column;
}


.qv-object-EProject-Zapper .vis-preview{
    flex: 1 1 auto;
}


.qv-object-EProject-Zapper .vis-preview-title{
    height: 12px;
    text-align: center;
    background: white;
    display: none;
}

/* .qv-object-EProject-Zapper .preview-active .vis-preview-title{
    background: #009845;
} */

.qv-object-EProject-Zapper .no-line-break{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Main style for the preview overlay */
.qv-object-EProject-Zapper .preview-overlay{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: black;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

/* Show preview overlay on hover (except for the active one) */
.qv-object-EProject-Zapper .preview-overlay:not(.preview-overlay-active):hover{
    opacity: 0.9;
}



.qv-object-EProject-Zapper .preview-overlay .lui-overlay-button{
    opacity: 0.6;
    top: calc(50% - 19px);
}

.qv-object-EProject-Zapper .preview-icon{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 80;
    padding: 5px;
    border-radius: 50%;
    background: #009845;
    color: white;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.75);
    opacity: 0;
}

.qv-object-EProject-Zapper .preview-active-icon{
    opacity: 1;
}

